.user-container{
    background-color: rgb(236,204);
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1.5 rem;
    align-items: center;
    margin: 1rem;

}

#user-img{
    height: 2s00px;
    width: 200px;
    border-radius: 50%;

}